.profile__subtitle {
  margin: 16px 0 0;
  font-size: 18px;
  max-width: 336px;
  width: 100%;
  line-height: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

 @media (max-width: 900px){
  .profile__subtitle {
    max-width: 282px;
    text-align: center;
  }
}

@media (max-width: 450px){
  .profile__subtitle {
    margin: 14px 0 0;
    font-size: 14px;
  }
}
