.define-form__input {
  width: 100%;
  color: #fff;
  padding: 0 0 13px;
  border: 0;
  border-bottom: 2px solid #ccc;
  font-size: 14px;
  line-height: 1;
  font-weight: 500;
  background-color: transparent;
  box-sizing: border-box;
  max-height: 27px;
}

.define-form__input::placeholder {
  color: #ccc;
  font-weight: 400;
}
