.define-form__submit-button {
  border: 0;
  outline: 0;
  margin-top: 185px;
  font-size: 18px;
  border-radius: 2px;
  box-sizing: border-box;
  height: 50px;
  width: 100%;
  cursor: pointer;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.define-form__submit-button:hover {
  opacity: 0.85;
}

@media (max-width: 400px) {
  .define-form__submit-button {
    margin-top: 143px;
    font-size: 16px;
    height: 46px;
  }
}
