.notification__title {
  margin: 10px auto;
  max-width: 280px;
  text-align: center;
  font-size: 18px;
  line-height: 1.1;
}

@media (max-width: 400px) {
  .notification__title {
    display: none;
  }
}
