.profile__edit-avatar {
  padding: 0;
  outline: 0;
  border: none;
  position: absolute;
  background: transparent;
  top: 0;
  left: 0;
  width: 120px;
  height: 120px;
  z-index: 1;
  cursor: pointer;
  opacity: 0;
}

.profile__edit-avatar:hover {
  content: '';
  opacity: 0.8;
  background-image: url(../../../images/change_avatar_button.svg);
  background-color: #000;
  background-repeat: no-repeat;
  background-position: center;
}


