.popup__button_type_close {
  background-color: transparent;
  background-image: url(../../../../images/close_Icon.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 32px;
  height: 32px;
  position: absolute;
  top: -40px;
  right: -40px;
}

.popup__button_type_close:hover {
  opacity: .6;
}

@media (max-width: 400px){
  .popup__button_type_close{
    right: 0;
    top: -35px;
    width: 20px;
    height: 20px;
  }
}
