.profile__subtitle_type_skeleton {
  min-width: 336px;
  min-height: 18px;
  background-color: #a6a6a6;
  border-radius: 15px;
}

@media (max-width: 450px){
  .profile__subtitle_type_skeleton {
    min-height: 14px;
    min-width: 282px;
    border-radius: 10px;
  }
}
