.notification {
  position: fixed;
  bottom: 10px;
  left: 10px;
  border: 0;
  max-width: 360px;
  width: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
  cursor: pointer;
}

.notification:hover {
  opacity: 0.8;
}

@media (max-width: 400px) {
  .notification {
    max-width: 100%;
    bottom: 0;
    left: 0;
    border-radius: 0;
  }
}
