.popup__input {
  padding: 9px 5px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font-size: 14px;
  line-height: 1;
  box-sizing: border-box;
  height: 28px;
}

.popup__input:focus {
  border-radius: 5px;
  outline: 1px solid rgba(0, 0, 0, .2);
}

.popup__input:first-of-type {
  margin-top: 12px;
}

@media (max-width: 550px){
  .popup__input:first-of-type {
    margin-top: 37px;
  }
}
